<p-tabView (onChange)="onTabChange($event)" >
    <p-tabPanel header="Información Personal">
        <dynamic-primeng-form [group]="formGroup" [model]="formModel">
            <ng-template modelId="myFormArray" let-group let-index="index" let-context="context">

                <button type="button" (click)="removeItem(context, index)">Remove Item</button>
                <button type="button" (click)="insertItem(group.context, group.index + 1)">Add Item</button>

            </ng-template>

        </dynamic-primeng-form>
    </p-tabPanel>

    <p-tabPanel header="Desplazamientos">
        <h4>DATOS SOBRE DESPLAZAMIENTOS
        </h4>
        <p> 1. Un desplazamiento se considera a los movimientos que realiza desde su lugar de origen hasta su destino final.
            Los movimientos incluyen los tramos realizados a pie o por medio de un vehículo motorizado o no. Recuerde que
            esta encuesta está enfocada en brindar mejores servicios de transporte a la comunidad de la Universidad de Cuenca,
            por lo que el origen o el destino final de su desplazamiento deberá ser uno de los campus universitarios. Si
            desea ver un ejemplo de un desplazamiento haga clic aquí.
            <br> A continuación, le solicitamos que detalle sus desplazamientos de una semana común de clases:
        </p>
        <p-growl [value]="msgs"></p-growl>
        <button pButton type="button" label="Añadir otro desplazamiento" (click)="nuevo()"></button>


        <p-tabView>
            <p-tabPanel header="Desplazamiento 1" [selected]="true">
                <p-fieldset>

                    <p>1. Seleccione los días en los que se desplaza y el detalle del deplazamiento</p>
                    <p-checkbox name="groupname" label="Lunes" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
                    <p-checkbox name="groupname" label="Martes" value="val2" [(ngModel)]="selectedValues"></p-checkbox>
                    <p-checkbox name="groupname" label="Miercoles" value="val3" [(ngModel)]="selectedValues"></p-checkbox>
                    <p-checkbox name="groupname" label="Jueves" value="val4" [(ngModel)]="selectedValues"></p-checkbox>
                    <p-checkbox name="groupname" label="Viernes" value="val5" [(ngModel)]="selectedValues"></p-checkbox>
                    <p-checkbox name="groupname" label="Sabado" value="val6" [(ngModel)]="selectedValues"></p-checkbox>
                    <p-dataTable [value]="movilidad.desplazamientos1" [editable]="true">
                        <p-column field="movimiento" header="Movimiento"></p-column>
                        <p-column field="fin" header="Origen">
                            <ng-template let-col let-car="rowData" let-i="rowIndex" pTemplate="body">
                                <p-dropdown [(ngModel)]="movilidad.desplazamientos1[i].origen" [options]="origenes" autoWidth="false" [style]="{'width':'100%'}"
                                    required="true" appendTo="body"></p-dropdown>
                            </ng-template>
                        </p-column>
                        <p-column field="inicio" header="Hora Aprox. de Inicio">
                            <ng-template let-col let-car="rowData" let-i="rowIndex" pTemplate="body">

                                <p-calendar [stepMinute]="5" [minDate]="timeinicio" [maxDate]="timefin" [inputStyle]="{'width':'100%'}" [(ngModel)]="movilidad.desplazamientos1[i].inicio" [timeOnly]="true"></p-calendar>

                            </ng-template>
                        </p-column>
                        <p-column field="destino" header="Destino">
                            <ng-template let-col let-car="rowData" let-i="rowIndex" pTemplate="body">
                                <p-dropdown [(ngModel)]="movilidad.desplazamientos1[i].destino" [options]="origenes" autoWidth="false" [style]="{'width':'100%'}"
                                    required="true" appendTo="body"></p-dropdown>
                            </ng-template>
                        </p-column>
                        <p-column field="fin" header="Hora Aprox. de Fin">
                            <ng-template let-col let-car="rowData" let-i="rowIndex" pTemplate="body">

                                <p-calendar [inputStyle]="{'width':'100%'}" [(ngModel)]="movilidad.desplazamientos1[i].fin" [timeOnly]="true"></p-calendar>

                            </ng-template>
                        </p-column>
                        <p-column field="fin" header="Medio de transporte">
                            <ng-template let-col let-car="rowData" let-i="rowIndex" pTemplate="body">

                                <p-dropdown [(ngModel)]="movilidad.desplazamientos1[i].medio" [options]="medios" autoWidth="false" [style]="{'width':'100%'}"
                                    required="true" appendTo="body"></p-dropdown>
                            </ng-template>
                        </p-column>
                        <p-column field="medio" header="Datos Adicionales">
                            <ng-template let-col let-i="rowIndex" let-car="rowData" pTemplate="body">
                                <span *ngIf="movilidad.desplazamientos1[i].medio=='A pie'" [style.color]="car[col.field]">ninguno</span>
                                <span *ngIf="movilidad.desplazamientos1[i].medio=='Bus'" [style.color]="car[col.field]">
                                    <span class="ui-fluid">
                                        <label for="float-input">Linea de bus</label>
                                        <input id="float-input" type="text" size="30" pInputText>

                                    </span>

                                    <span class="ui-fluid">
                                        <label for="float-input">Parada de Origen</label>
                                        <input id="float-input" type="text" size="30" pInputText>

                                    </span>
                                    <span class="ui-fluid">
                                        <label for="float-input">Parada de Destino</label>
                                        <input id="float-input" type="text" size="30" pInputText>

                                    </span>
                                </span>
                                <span *ngIf="movilidad.desplazamientos1[i].medio=='Vehículo privado'" [style.color]="car[col.field]">
                                    <span class="ui-fluid">
                                        <label for="float-input">Viaja como</label>
                                        <p-dropdown [options]="viajacomo" autoWidth="false" [style]="{'width':'100%'}" required="true" appendTo="body"></p-dropdown>
                                    </span>
                                    <span class="ui-fluid">
                                        <label for="float-input">Se estaciona en:</label>
                                        <p-dropdown [options]="estacionaen" autoWidth="false" [style]="{'width':'100%'}" required="true" appendTo="body"></p-dropdown>
                                    </span>
                                    <span class="ui-fluid">
                                        <label for="float-input">Tiempo requerido para encontrar un parqueo:</label>
                                        <input id="float-input" type="number" size="30" pInputText>

                                    </span>
                                    <span class="ui-fluid">
                                        <label for="float-input">El vehículo es de propiedad de la Universidad de Cuenca:</label>
                                        <p-inputSwitch onLabel="Sí" offLabel="No" [(ngModel)]="checked"></p-inputSwitch>


                                    </span>


                                </span>
                                <span *ngIf="movilidad.desplazamientos1[i].medio=='Taxi'" [style.color]="car[col.field]">
                                    <span class="ui-fluid">
                                        <label for="float-input">¿Viaja solo?</label>
                                        <p-dropdown [options]="viajacomo" autoWidth="false" [style]="{'width':'100%'}" required="true" appendTo="body"></p-dropdown>
                                        <p-inputSwitch onLabel="Sí" offLabel="No" [(ngModel)]="checked"></p-inputSwitch>

                                    </span>



                                </span>
                                <span *ngIf="movilidad.desplazamientos1[i].medio=='Bicicleta' || movilidad.desplazamientos1[i].medio=='Motocicleta'" [style.color]="car[col.field]">
                                    <span class="ui-fluid">
                                        <label for="float-input">Se estaciona en:</label>
                                        <p-dropdown [options]="estacionaen" autoWidth="false" [style]="{'width':'100%'}" required="true" appendTo="body"></p-dropdown>
                                    </span>



                                </span>

                                <span *ngIf="movilidad.desplazamientos1[i].medio=='Otro'" [style.color]="car[col.field]">
                                        <span class="ui-fluid">
                                                <label for="float-input">Indique el medio de transporte:</label>
                                                <input id="float-input" type="text" size="30" pInputText>
        
                                            </span>
    
    
                                    </span>
                              
                            </ng-template>
                        </p-column>

                        <ng-template pTemplate="header">

                        </ng-template>
                    </p-dataTable>
                    <button pButton type="button" label="Nuevo" (click)="nuevo()"></button>
                </p-fieldset>
            </p-tabPanel>
            
            <p-tabPanel header="Desplazamiento 2">
                En deasarrollo
            </p-tabPanel>
            <p-tabPanel header="Desplazamiento 3">
               En desarrollo
            </p-tabPanel>
        </p-tabView>

    </p-tabPanel>
    <p-tabPanel header="Motivos de Uso">
        En deasarrollo
   </p-tabPanel>
    <p-tabPanel header="Percepción">
        En deasarrollo
    </p-tabPanel>

    <p-tabPanel header="Varios">
        En deasarrollo
    </p-tabPanel>
</p-tabView>
<div [hidden]="!index" #gantt_here style="width: 1500px; height: 100%;"></div>
